
YachtKlub/.vs/YachtKlub/v15/.suo
YachtKlub/.vs/YachtKlub/v15/.suo
YachtKlub/.vs/YachtKlub/v15/Server/sqlite3/storage.ide-shm
YachtKlub/.vs/YachtKlub/v15/.suo
YachtKlub/.vs/YachtKlub/v15/Server/sqlite3/storage.ide
YachtKlub/.vs/YachtKlub/v15/Server/sqlite3/storage.ide-shm
YachtKlub/.vs/YachtKlub/v15/Server/sqlite3/storage.ide-wal
